[submodule "SharpCore/SharpData"]
	path = SharpCore/SharpData
	url = https://mjstephens@github.com/Galaxy-Gourd/SharpData.git
[submodule "SharpCore/SharpPool"]
	path = SharpCore/SharpPool
	url = https://mjstephens@github.com/Galaxy-Gourd/SharpPool.git
[submodule "SharpCore/SharpTick"]
	path = SharpCore/SharpTick
	url = https://mjstephens@github.com/Galaxy-Gourd/SharpTick.git
[submodule "UnityCore/UnityData"]
	path = UnityCore/UnityData
	url = https://mjstephens@github.com/Galaxy-Gourd/UnityData.git
[submodule "UnityCore/UnityPool"]
	path = UnityCore/UnityPool
	url = https://mjstephens@github.com/Galaxy-Gourd/UnityPool.git
[submodule "UnityCore/UnityTick"]
	path = UnityCore/UnityTick
	url = https://mjstephens@github.com/Galaxy-Gourd/UnityTick.git
[submodule "UnityCore/UnityProfiler"]
	path = UnityCore/UnityProfiler
	url = https://mjstephens@github.com/Galaxy-Gourd/UnityProfiler.git
[submodule "UnityCore/UnityUtility"]
	path = UnityCore/UnityUtility
	url = https://mjstephens@github.com/Galaxy-Gourd/UnityUtility.git
[submodule "UnityCore/UnityRoot"]
	path = UnityCore/UnityRoot
	url = https://mjstephens@github.com/Galaxy-Gourd/UnityRoot.git
[submodule "SharpCore/SharpTask"]
	path = SharpCore/SharpTask
	url = https://mjstephens@github.com/Galaxy-Gourd/SharpTask.git
[submodule "UnityCore/UnityTask"]
	path = UnityCore/UnityTask
	url = https://mjstephens@github.com/Galaxy-Gourd/UnityTask.git
[submodule "SharpCore/SharpTelemetry"]
	path = SharpCore/SharpTelemetry
	url = https://mjstephens@github.com/Galaxy-Gourd/SharpTelemetry.git
